<% content_for :header do %>
  <nav>
    <%= link_to splats_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">All Splats</span>
    <% end %>

    <div class="flex-item-justify-end" data-controller="dialog">
      <%= tag.button class: "btn flex-item-justify-end", popovertarget: "splat-edit-panel" do %>
        <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Edit <%= @splat.title %></span>
      <% end %>

      <dialog class="panel" id="splat-edit-panel" data-dialog-target="dialog" popover>
        <div class="flex pad">
          <%= turbo_frame_tag @splat, :edit, src: edit_splat_path(@splat), target: "_top" %>
        </div>
      </dialog>
    </div>
  </nav>
<% end %>

<div class="splat__perma flex justify-center center">
  <%= render @splat %>
</div>

<div class="splat__notes txt-align-start panel center borderless margin">
  <%= simple_format @splat.body %>
</div>

<section class="comments panel center borderless margin">
  <div class="comment flex align-start gap">
    <span class="avatar fill-shade flex-item-no-shrink"><strong>JZ</strong></span>
      <div class="flex-item-grow txt-align-start">
      <header class="full-width flex align-center gap margin-block-start">
        <strong>Jason Zimdars</strong>
      </header>
      <div class="comment__body">
        <p>I'll be speaking in Chicago early next month at the ABA convention and they'll be sharing this resource with all State Bar Presidents. I mentioned Writebook in the intro towards the bottom. The platform is awesome! </p>
      </div>
    </div>
  </div>

  <div class="comment flex align-start gap">
    <span class="avatar fill-selected flex-item-no-shrink"><strong>JF</strong></span>
      <div class="flex-item-grow txt-align-start">
      <header class="full-width flex align-center gap margin-block-start">
        <strong>Jason Fried</strong>
      </header>
      <div class="comment__body">
        <p>Never mind, I nipped home and tried it on Browser Stack. It's working correctly on Windows with Edge, Chrome & Firefox. </p>
      </div>
    </div>
  </div>

  <div class="comment flex align-start gap">
    <span class="avatar fill-black txt-reversed flex-item-no-shrink"><strong>JF</strong></span>
      <div class="flex-item-grow txt-align-start">
      <header class="full-width flex align-center gap margin-block-start">
        <strong>Kevin McConnell</strong>
      </header>
      <div class="comment__body">
        <p>If this is only happening to one site, and potentially has already resolved itself, then I'll just dig into this on Monday and see if I can find an explanation or a way to reproduce it. Hopefully this isn't a sign of something more common, but so far doesn't sound like it. </p>
        <p>But if you hear about something similar happening to anyone else, please flag it here and I'll look more urgently.</p>
      </div>
    </div>
  </div>
</section>
