<div class="flex flex-column gap-half align-center">
  <%= bubble_filters_heading filter do %>
    <%= render "bubbles/filters/index", filter: filter %>
    in
    <%= render "bubbles/filters/buckets", filter: filter %>

    <%= render "bubbles/filters/bookmark", filter: filter if filter.savable? %>
  <% end %>

  <h2 class="txt-medium flex align-center justify-center gap-half">
    <%= filter.tags.present? ? "Tagged" : "with" %>
    <%= render "bubbles/filters/tags", filter: filter %>

    and <%= render "bubbles/filters/assignments", filter: filter %>
  </h2>
</div>
