<% @page_title = @bubble.title %>

<% content_for :header do %>
  <nav>
    <%= link_to "#", class: "btn flex-item-justify-start", data: { controller: "back-navigation", back_navigation_fallback_destination_value: bubbles_path(bucket_id: @bubble.bucket) } do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Back</span>
    <% end %>

    <section class="flex flex-column align-end gap">
      <%= render "bubbles/pop_toggle", bubble: @bubble %>
      <%= turbo_frame_tag dom_id(@bubble, :stage_picker), src: new_bucket_bubble_stage_picker_path(@bubble.bucket, @bubble) %>
    </section>
  </nav>
<% end %>

<div class="bubble__perma flex justify-center center margin-block-end-double">
  <%= render "bubbles/bubble", bubble: @bubble %>
</div>

<%= render "bubbles/messages", bubble: @bubble %>
